<div class="nav-head">
	<!-- Site logo -->
	<a href="/" class="site-logo">
		<span>Boletines</span>&nbsp;Online<br />
		<span id="subtitle-logo">Instituto Preciosísima Sangre</span>
	</a>
	<span class="nav-trigger fa" 
		ng-class="{'fa-navicon': isMobile}" 
		toggle-nav-min toggle-off-canvas>
	</span>
</div>


<div class="head-wrap clearfix" ng-hide="isMobile">
	<!-- navbar right -->
	<ul class="list-unstyled navbar-right">
		<li><a href="#/login"><i class="fa fa-sign-out"></i></a></li>
	</ul>
</div>


