<div class="col-lg-12 main">
	<div class="jumbotron">
		<h1>All You Need Is Love</h1>
		<p>All you need is love, love. Love is all you need.</p>
		<!--<p><a role="button" class="btn btn-primary btn-lg">Learn more</a></p>-->
	</div>
</div>