<!-- Search box -->
<div class="form-search">
	<form id="site-search" action="#na">
		<input type="search" class="form-control" placeholder="Buscar alumno..." list="nombres-alumnos">
		<datalist id="nombres-alumnos">
			<option value="Matias Bontempo">
			<option value="Victoria Pagani">
			<option value="Lucas Bontempo">
			<option value="Lula Pagani">
			<option value="Eugenia Pagani">
		</datalist>
		<button type="submit" class="fa fa-search"></button>
	</form>
</div>


<!-- Site nav (vertical) -->

<nav class="site-nav clearfix" role="navigation" collapse-nav-accordion highlight-active>

	<div class="nav-title panel-heading"><i>Administrar</i></div>
	<ul class="list-unstyled nav-list">
		<li>
			<a href="#/administrar/materias">
				<i class="fa fa-pencil-square-o icon"></i>
				<span class="text">Materias</span>
			</a>
		</li>
		<li>
			<a href="#/administrar/cursos">
				<i class="fa fa-group icon"></i>
				<span class="text">Cursos</span>
			</a>
		</li>
		<li>
			<a href="#/administrar/alumnos">
				<i class="fa fa-child icon"></i>
				<span class="text">Alumnos</span>
				<span class="badge badge-xs badge-primary right">new</span>
			</a>
		</li>
	</ul>

	<div class="nav-title panel-heading"><i>Cursos</i></div>
	<ul class="list-unstyled nav-list cursos"></ul>
</nav>