<div class="page page-form-elem clearfix">

	<div class="row">
		<div class="col-lg-8">

			<div class="panel panel-lined panel-primary mb30">
				<div class="panel-heading"><i>Nuevo Alumno</i></div>
				<div class="panel-body">
					<form role="form">

						<div class="form-group col-lg-6">
							<label class="text-uppercase small text-bold">Nombre:</label>
							<input id="NuevoAlumnoNombre" type="text" class="form-control" placeholder="Santiago">
						</div>

						<div class="form-group col-lg-6">
							<label class="text-uppercase small text-bold">Apellido:</label>
							<input id="NuevoAlumnoApellido" type="text" class="form-control" placeholder="Blas">
						</div>

						<div class="form-group col-lg-6">
							<label class="text-uppercase small text-bold">DNI:</label>
							<input id="NuevoAlumnoDni" type="text" class="form-control" placeholder="35989736">
						</div>

						<div class="form-group col-lg-6">
							<label class="text-uppercase small text-bold">Curso:</label>
							<input id="NuevoAlumnoCurso" type="text" class="form-control" placeholder="Ingrese el curso">
						</div>

						<div class="right mt15">
							<button onclick="NuevoAlumno()" class="btn btn-info text-uppercase btn-lg btn-rounded">Crear</button>
						</div>

					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div id="sidePanel" class="panel mb30 panel-info">
				<div class="panel-heading">Cursos Actuales</div>
				<div class="panel-body cursos"></div>
			</div>
		</div>
	</div>

</div>