<div class="page page-form-elem clearfix">

	<div class="row">
		<div class="col-lg-8">

			<div class="panel panel-lined panel-primary mb30">
				<div class="panel-heading"><i>Nuevo Curso</i></div>
				<div class="panel-body">
					<form role="form">

						<div class="form-group col-lg-6">
							<label class="text-uppercase small text-bold">Número:</label>
							<input id="NuevoCursoNumero" type="text" class="form-control" placeholder="3">
						</div>

						<div class="form-group col-lg-6">
							<label class="text-uppercase small text-bold">Letra:</label>
							<input id="NuevoCursoLetra" type="text" class="form-control" style='text-transform:uppercase' placeholder="A">
						</div>

						<div class="form-group col-lg-12">
							<label class="text-uppercase small text-bold">Materias:</label>
							<input id="NuevoCursoMaterias" type="text" class="form-control">
						</div>

						<div class="right mt15">
							<button onclick="NuevoCurso()" class="btn btn-info text-uppercase btn-lg btn-rounded">Crear</button>
						</div>

					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div id="sidePanel" class="panel mb30 panel-info">
				<div class="panel-heading">Cursos Actuales</div>
				<div class="panel-body cursos"></div>
			</div>
		</div>

		<div class="col-lg-4">
			<div id="sidePanel" class="panel mb30 panel-info">
				<div class="panel-heading">Materias Actuales</div>
				<div class="panel-body materias"></div>
			</div>
		</div>
	</div>

</div>