<div class="page page-form-elem clearfix">

	<div class="row">
		<div class="col-lg-8">

			<div class="panel panel-lined panel-primary mb30">
				<div class="panel-heading"><i>Nueva Materia</i></div>
				<div class="panel-body">
					<form role="form">

						<div class="form-group">
							<label class="text-uppercase small text-bold">Nombre:</label>
							<input id="NuevaMateriaNombre" type="text" class="form-control" placeholder="Introducción a la Química">
						</div>

						<div class="form-group">
							<label class="text-uppercase small text-bold">Abreviatura:</label>
							<input id="NuevaMateriaAbreviatura" type="text" class="form-control" placeholder="Intro a la Química">
						</div>


						<div class="right mt15">
							<button onclick="NuevaMateria()" class="btn btn-info text-uppercase btn-lg btn-rounded">Crear</button>
						</div>

					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div id="sidePanel" class="panel mb30 panel-info">
				<div class="panel-heading">Materias Actuales</div>
				<div class="panel-body"></div>
			</div>
		</div>
	</div>

</div>