<div class="page page-dashboard clearfix">
	
	<div class="dash-head clearfix">
		<div class="left curso-info">
			<h3 class="text-uppercase title text-normal">Curso:</h3>
			<p class="small">
				0 Alumnos
			</p>
		</div>
		<div class="right mt15">
			<a href="#/imprimir/boletines/1/A" class="btn btn-primary text-uppercase btn-lg btn-rounded imprimir">
				Imprimir Boletines
				<i class="fa fa-print left"></i>
			</a>
		</div>
	</div>

	<div class="col-lg-12 materiasCurso">
	</div>


	<div class="col-lg-12">
		<div class="panel panel-lined panel-primary">
			<div class="panel-heading"><i>Lista</i></div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nombre y Apellido</th>
						<th>Acciones</th>
					</tr>
				</thead>

				<tbody></tbody>
			</table>
		</div>
	</div>
</div>