<div class="page page-dashboard clearfix">
	
	<div class="dash-head clearfix">
		<div class="left info-materia">
			<h3 class="text-uppercase title text-normal"></h3>
			<p class="small"></p>
		</div>
		<div class="right mt15">
			<button class="btn btn-primary text-uppercase btn-lg btn-rounded" onclick="window.print()">
				Imprimir
				<i class="fa fa-print left"></i>
			</button>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="panel panel-lined panel-primary">
			<div class="panel-heading"><i>Notas</i></div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Alumno</th>
						<th>Primer Trimestre</th>
						<th>Segundo Trimestre</th>
						<th>Tercer Trimestre</th>
						<th>Promedio</th>
						<th>Nota Final</th>
					</tr>
				</thead>

				<tbody class="notasMaterias"></tbody>
			</table>
		</div>
	</div>
</div>